<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="index::head">

</head>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Section Begin -->
<div th:replace="index::offcanvas-menu"></div>
<!-- Offcanvas Menu Section End -->

<!-- Header Section Begin -->
<header th:replace="index::header-section"></header>
<!-- Header End -->

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Booking</h2>
                    <div class="bt-option">
                        <a th:href="@{/}">Home</a>
                        <span>Booking</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!--    Room Details Find Form Start-->
<div class="container mt-4">
    <h1>Đặt Phòng</h1>
    <form  th:action="@{/user/datphong}" method="post" th:object="${DatPhong}">
        <!-- Input ngày nhận phòng -->
        <div>
            <label for="ngayNhanPhong">Ngày nhận phòng:</label>
            <input type="date" class="form-control" th:value="${ngayNhanPhong}" name="ngayNhanPhong" id="ngayNhanPhong" required/>
        </div>


        <!-- Input ngày trả phòng -->
        <div>
            <label for="ngayTraPhong">Ngày trả phòng: </label>
            <input type="date" class="form-control" th:value="${ngayTraPhong}"  name="ngayTraPhong" id="ngayTraPhong" required/>
        </div>


        <!-- Input số khách -->
        <div>
            <label for="sokhach">Số khách: </label>
            <input type="number" class="form-control-range" th:field="*{soKhach}" min="1" max="10" id="sokhach" required/>
        </div>


        <!-- Dropdown loại phòng -->
        <div class="row">
            <div class="col">
                <label for="dichvu">Dịch vụ</label>
            </div>
            <div class="col">
                <select th:field="*{maDichVu.id}" id="dichvu" class="form-select">
                    <option th:each="dichvu : ${DichVu}" th:value="${dichvu.id}" th:text="${dichvu.tenDichVu}" ></option>
                </select>
            </div>

        </div>
        <div>
            <label for="tenkhach">Tên khách hàng:</label>
            <input type="text" class="form-control" readonly th:value="${maKhachHang.hoTen}"  id="tenkhach"/>
        </div>
        <div>
            <label for="tenloaiphong">Tên loại phòng</label>
            <input type="text" class="form-control" readonly th:value="${maPhong.loaiPhongID.tenLoaiPhong}" id="tenloaiphong"/>
        </div>


        <!-- Input mã khách hàng và mã phòng -->
        <input type="hidden" name="maKhachHang" th:value="${maKhachHang.id}" />
        <input type="hidden" name="maPhong" th:value="${maPhong.id}" />

        <!-- Button đặt phòng -->
        <button type="submit" class="btn btn-primary mt-1">Đặt Phòng</button>
    </form>
</div>
<footer th:replace="index::footer"></footer>
<!-- Footer Section End -->

<!-- Js Plugins -->
<div th:replace="index::script"></div>
</body>

</html>






